 /*Base styles (extra small devices - mobile) */
/* CSS rules */

html {
    font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
    font-family:  'Roboto'sans-serif;
    font-size: 1rem;
    color: #444444; 
}
h1, h2, h3, h4, h4 ,h5,h6 {
    font-family: 'Inter',sans-serif;
    font-weight: 700;
    color: #222222;
}
h1 { font-size: 2.5rem;}
h2 { font-size: 2rem;}
h3 { font-size: 1.5rem;}
h4 { font-size: 1rem;}
h5 { font-size: 1.25rem;}
h6 { font-size: 1rem;}

a {
    text-decoration: none;
    color: #3B82F6;
}
a:hover , a:focus{
    color:#4338CA ;
}
#navbar {
    padding: 8px;
    margin: 0;
}

#banner {
    object-fit: cover;
}
#logo-with-text {
    display: none;
}
#banner {
    width: 100%;
    height: 150px;
    object-fit: cover;
}


h1 {
    text-align: Center;
    margin: 12px 0;
} 
#about {
    display: flex;
    max-width: 500px;
    margin: 0 auto;
    padding: 8px;
    flex-direction: column;
}
#Description {
    
    font-size: 1.25rem;
}
#team {
    width: 100%;
}

#team-image {
    border-radius: 5px;
    width: 100%;
    height: 240px;
}
h2 {
    text-align: center;
}
#jobs {
    max-width: 800px;
    margin: 0 auto;
    padding: 8px;
}
#jobs-list {
    display: block;
}
#jobs-table {
    display: none;
}
.job {
    border: 1px solid #dddddd;
    margin-top: 8px;
    border-radius: 5px;
    padding: 8px;
}
.job-title {
    font-size: 1.25rem;
    font-weight: 500;
    color: #222222;
}
.job-detail {
    margin-top: 4px;
    color: #555555;
}
#application {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 8px;
}

#application-form div {
    margin-top: 18px;
}
#application-form label {
    font-weight: 600;
}

#application-form input, select ,textarea{
    width: 90%;
    padding: 8px;
    font-size: 1rem;
    margin-top: 4px;
    border-radius: 5px;
    background-color: rgb(244, 237, 237);
}

.group-form textarea {
    width:80%;
    font-family: 'Roboto' sans-serif;
}

.group-form input[type="checkbox"] {
    width: 16px;
    height: 16px;
}
.group-form input[type="submit"] {
    color: rgb(250, 247, 247);
    font-weight: 600;
    padding: 16px;
    cursor: pointer;
}
#footer {
    background-color:#E2E8F0;
    padding: 8px;
    margin-top: 20px;
    text-align: center;
}

#footer-links {
    list-style: none;
    padding: 0;
}

#footer-links li {

    margin: 8px 16px;
}
.copyright {
    color:#4f5561;
    font-size: 0.75rem;
}
/* Small devices (tablets) */
@media screen and (min-width: 576px) {


html {
    font-size: 16px;
}
#banner {
    height: 200px;
} 
#logo {
    display: none;
  }

  #logo-with-text {
    display: block;
  }
h1 {
    margin: 16px 0;
    text-align: center;
}
#application-form input, select ,textarea{
    width: auto;
}
#application-form textarea{
    width: 80%;
}
#footer-links li {
    display:inline ;
}

}
/* Medium devices (tablets/laptops) */
@media screen and (min-width: 768px) {
    /* CSS rules */
#banner {
height: 280px;
}
#logo {
    display: none;
  }

  #logo-with-text {
    display: block;
  }
  #about{
    max-width: 800px;
    flex-direction: row;
  }
  #Description {
   width: 50%;
   padding: 8px;
  }
  #team {
    width: 50%;
}
#jobs {
    min-width: 800px;
}
#jobs-list {
    display: none;
}
#jobs-table {
    display: table;
}
#jobs-table {
    width: 800px;
    border:  1px solid grey;
    border-collapse: collapse;
    color: #222222;
}
.jobs-header-row th {
    border: 1px solid grey;
    padding: 8px;
    background-color: #F3E8FF;
    text-align: center;
}
.jobs-data-row td {
    border: 1px solid #4b035f;
    padding: 6px;
}

#jobs-table tr:nth-child(odd) {
    background-color: #FAF5FF;
}
#application {
    max-width: 800px;
}
#application-form input, select ,textarea{
    width: auto;
}
}
  
/* Large devices (laptops/desktops) */
@media screen and (min-width: 992px) {
    html {
        font-size: 20px;
    }
    #logo {
        display: none;
      }
    
      #logo-with-text {
        display: block;
      }
      #about{
        max-width: 900px;
        flex-direction: row;
      }
}
  
/* Extra large devices (large desktops) */
@media screen and (min-width: 1200px) {
    
}



